<!DOCTYPE html>
%html{html_attrs('en')}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title babushka
    %link{:href => "/stylesheets/styles.css", :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => "/index.atom", :title => "Atom feed", :rel => "alternate", :type => "application/atom+xml"}

  %body
    %header
      %h1
        %a{:href => '/'} babushka
      %nav
        %a{:href => 'http://twitter.com/ben_h'} demo
        %a{:href => 'http://twitter.com/ben_h'} get it
        %a{:href => 'http://github.com/benhoskings/babushka'}
          %span.arrow ↪
          github
        %a{:href => 'http://twitter.com/babushka_app'}
          %span.arrow ↪
          github

    %article
      = content

    %footer
      %span
        Powered by
        %a{:href => 'http://github.com/mojombo/jekyll'} Jekyll
        Content &amp; layout &copy; Ben Hoskings.

    %script{:src => "/javascripts/jquery.js", :type => "text/javascript"}

    /[if IE]
      :javascript
        // For discussion and comments, see: http://remysharp.com/2009/01/07/html5-enabling-script/
        (function(){if(!/*@cc_on!@*/0)return;var e = "abbr,article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(',');for(var i=0;i<e.length;i++){document.createElement(e[i])}})();
      
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
        var pageTracker = _gat._getTracker("UA-9740324-2");
        pageTracker._trackPageview();
      } catch(err) {}
