<!DOCTYPE html>
%html{html_attrs('en')}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title babushka
    %link{:href => "/stylesheets/styles.css", :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => "/index.atom", :title => "Atom feed", :rel => "alternate", :type => "application/atom+xml"}

  %body
    %header
      %h1
        %a{:href => '/'} babushka
      %nav
        %a{:href => '#hello'} hello
        %a{:href => '#get_it'} get it
        %a{:href => 'http://github.com/benhoskings/babushka'}
          %span.arrow ↪
          github
        %a{:href => 'http://twitter.com/babushka_app'}
          %span.arrow ↪
          twitter

    %section#hello
      %p.hello
        Welcome! To get involved or read about the latest developments, the
        %a{:href => "http://groups.google.com/group/babushka_app"} Google group
        is a good place to start. Proper docs are in progress, and currently all together in
        = succeed "," do
          %a{:href => "http://github.com/benhoskings/babushka#readme"} the README
        and there are some more
        %a{:href => "http://vimeo.com/9343310"} recent
        %a{:href => "http://vimeo.com/10008355"} screencasts
        too.
      = content
    %section#get_it
      %p
        You can install babushka on your system, no matter what state it's in, using
        = succeed "." do
          %code babushka.me/up
        That's a script that knows enough to install ruby if required (babushka's only runtime dependency), and then download a temporary babushka that knows how to do the proper install.
      .bootstrap_select
        %form
          %input#bootstrap_curl{:name => "bootstrap_select", :type => "radio", :value => "curl"}/
          %label{:for => "bootstrap_curl"} curl
          %input#bootstrap_wget{:name => "bootstrap_select", :type => "radio", :value => "wget"}/
          %label{:for => "bootstrap_wget"} wget
      %p New Macs have curl, stock Ubuntu has wget.
      .bootstrap_option.curl
        %input{:readonly => "true", :type => "text", :value => "bash -c \"`curl babushka.me/up`\""}/
      .bootstrap_option.wget
        %input{:readonly => "true", :type => "text", :value => "bash -c \"`wget -O - babushka.me/up`\""}/
      %p It's the perfect way to get started on a new server, or on your new laptop, since it can literally be the first command you run on the machine.
      %p
        If you'd prefer to install manually or just check out the code, check
        %a{:href => "http://github.com/benhoskings/babushka"} the github page
        for the repo URL.

    %footer
      %span
        babushka is by
        %a{:href => 'http://twitter.com/ben_h'} Ben Hoskings

    %script{:src => "/javascripts/jquery.js", :type => "text/javascript"}

    /[if IE]
      :javascript
        // For discussion and comments, see: http://remysharp.com/2009/01/07/html5-enabling-script/
        (function(){if(!/*@cc_on!@*/0)return;var e = "abbr,article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(',');for(var i=0;i<e.length;i++){document.createElement(e[i])}})();
      
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
        var pageTracker = _gat._getTracker("UA-10872023-1");
        pageTracker._trackPageview();
      } catch(err) {}
    
    :javascript
      var on_show_page = function() {
        $('section:hidden .container').hide();
        $('section:visible .container:hidden').show();
      }
      var show_page = function(a) {
        $('nav a').removeClass('active').animate(
          {
            'paddingTop': (($('header h1').height() - (a.height() + parseInt(a.css('paddingBottom')))) / 1.4) + 'px'},
          {queue: false, duration: 300}
        );
        $('section:visible').hide();
        $('section#' +
          a.addClass('active').animate(
            {
              'paddingTop': $('header h1').height() - (a.height() + parseInt(a.css('paddingBottom'))) + 'px'
            }, 300, on_show_page
          ).attr('href')
        ).show();
      };
      var domready_nav = function() {
        $('nav a[href^=#]').click(function() { show_page($(this)); });
        if (document.location.hash == '') {
          $('section:visible').hide();
          document.location.hash = '#hello';
        }
        $('nav a[href=' + document.location.hash + ']').click();
      }
      var show_bootstrap_option = function(name) {
        $('.bootstrap_option').hide();
        $('.bootstrap_option.' + name).show();
      }
      var domready_bootstrap_select = function() {
        $('.bootstrap_select input').click(function() { show_bootstrap_option($(this).attr('value')) });
        $('.bootstrap_select input[value=curl]').click();
      }
      var select_bootstrap_on_click = function() {
        $('.bootstrap_option input').click(function() {
          $(this).select();
        });
      };
      $(function() {
        domready_nav();
        domready_bootstrap_select();
        select_bootstrap_on_click();
      })
