$leading: 22px;
$padding: 24px;
$nav-width: 200px;
$background_color: #fff;
$hover_color: #8e173f;
$babushka_me_up_color: #333333;

@mixin textured($with_background: $background_color) {
  background: $with_background url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC1JREFUeNpiYGBgkAJihv///4MxLj4yAxfNwIBDAMFHMxKnSVLEmjiY3AQQYADuTBThP5y9ZgAAAABJRU5ErkJggg==); }

@mixin radius($rad: 3px) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  -o-border-radius: $rad;
  border-radius: $rad; }

@mixin clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
  }
}

abbr,article,aside,canvas,figure,footer,header,hgroup,nav,section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  font: 15px/#{$leading} Crimson, Georgia, Palatino, serif;
}

pre, code {
  font: 10pt/#{$leading} Menlo, Monaco, monospace;
}

body {
  background: white; }

a {
  text-decoration: none;
  &:link, &:visited {
    color: #ff3300; }
  &:hover {
    color: #ff9900; } }

h1, h2, h3, p, ul {
  margin: $leading 0;
}

h2 {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}

body > article {
  position: absolute;
  top: $leading;
  left: $padding + $nav-width + $padding + 1 + $padding;
  width: 33em;
  h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: -1px; }
  li {
    list-style-type: square;
  }
}

body > nav {
  position: absolute;
  top: $leading;
  left: $padding;
  width: $nav-width;
  padding: 0 $padding 0 0;
  border-right: 1px solid #cccccc;
  text-align: right;
  h1 {
    @include clearfix;
    a {
      display: block;
      img {
        display: block;
        float: right;
        height: 88px;
        margin-right: -15px;
      }
    }
  }
  h2 {
    color: #333333;
  }
  ul {
    list-style-type: none;
  }
}


pre, code {
  @include radius(3px);
  @include textured;
  background-color: #fafafa;
}

pre {
  padding: 0.5em 1em;
  line-height: 1.2;
}

code {
  display: inline-block;
  padding: 0 0.3em;
}
