---
layout: post
title: original screencast
---

%hr/

.container
  .video
    %object{:height => "405", :width => "600"}
      %param{:name => "allowfullscreen", :value => "true"}/
      %param{:name => "allowscriptaccess", :value => "always"}/
      %param{:name => "movie", :value => "http://vimeo.com/moogaloop.swf?clip_id=6782671&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1"}/
      %embed{:allowfullscreen => "true", :allowscriptaccess => "always", :height => "405", :src => "http://vimeo.com/moogaloop.swf?clip_id=6782671&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1", :type => "application/x-shockwave-flash", :width => "600"}/

%hr/

%h3 Related
%ul
  %li
    nginx configs as rendered in the demo:
    = succeed "," do
      %a{:href => "/samples/nginx.conf"} nginx.conf
    = succeed "," do
      %a{:href => "/samples/twetter.com.conf"} twetter.com.conf
    %a{:href => "/samples/twetter.com.common"} twetter.com.common
  %li
    twetter, by
    = succeed "," do
      %a{:href => "http://github.com/mattallen"} Matt Allen
    %a{:href => "http://github.com/rnielsen"} Rob Nielsen
    and others:
    %a{:href => "http://github.com/rnielsen/twetter"} http://github.com/rnielsen/twetter
  %li
    my dot files:
    %a{:href => "http://github.com/benhoskings/dot-files"} http://github.com/benhoskings/dot-files
