---
layout: post
title: original screencast
---

%figure
  %video{:controls => "controls", :preload => "preload", :width => "560", :height => "378"}
    %source{:src => "/videos/2009-09-27-zero-to-hero-with-babushka.mp4", :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}/
    %source{:src => "/videos/2009-09-27-zero-to-hero-with-babushka.ogv", :type => 'video/ogg; codecs="theora, vorbis"'}/
  %figcaption
    Download this video as
    %a{:href => "/videos/2009-09-27-zero-to-hero-with-babushka.mp4"} MP4
    or
    %a{:href => "/videos/2009-09-27-zero-to-hero-with-babushka.ogv"} Ogg

%ul
  %li
    nginx configs as rendered in the demo:
    = succeed "," do
      %a{:href => "/samples/nginx.conf"} nginx.conf
    = succeed "," do
      %a{:href => "/samples/twetter.com.conf"} twetter.com.conf
    %a{:href => "/samples/twetter.com.common"} twetter.com.common
  %li
    twetter, by
    = succeed "," do
      %a{:href => "http://github.com/mattallen"} Matt Allen
    %a{:href => "http://github.com/rnielsen"} Rob Nielsen
    and others:
    %a{:href => "http://github.com/rnielsen/twetter"} http://github.com/rnielsen/twetter
  %li
    my dot files:
    %a{:href => "http://github.com/benhoskings/dot-files"} http://github.com/benhoskings/dot-files
