*
  margin: 0
  padding: 0

body
  font: 12px/1.5 Helvetica, sans-serif

pre, code, tt, .bootstrap_option input
  font-family: Menlo, Monaco, monospace

ul
  list-style-type: none

h3
  font-size: 1.2em
  font-weight: bold

p
  display: block
  margin: 1em 0

a
  color: #000
  font-weight: bold

hr
  margin: 0.2em 0
  border: none
  border-top: #000 1px solid

h1
  letter-spacing: -0.04em
  text-rendering: optimizeLegibility
  a
    text-decoration: none
    &:hover
      text-shadow: #000 0 0 5px
  line-height: 1.2

body
  width: 56em
  margin: 0.5em auto
  border-top: #000 0.5em solid

header
  border-bottom: #000 1px solid
  background: transparent url(../images/babushka.png) bottom right no-repeat
  h1
    float: left
    font-size: 5.5em
    margin-right: (2em / 5.5)

footer
  border-top: #000 0.5em solid
  text-align: right
  padding: 0.2em
  span
    font-size: 11px

header, nav
  overflow: hidden

nav
  float: left
  a
    float: left
    display: block
    width: (6em / 1.36)
    font-size: 120%
    line-height: 1.2
    padding: 0.3em
    border-left: #000 1px solid
    color: #000
    font-weight: bold
    text-decoration: none
    /*  -webkit-transition: text-shadow 0.5s linear;
    &:hover
      text-shadow: #000 0px 0px 3px
    .arrow
      font-size: 80%

article
  clear: both
  padding: 0.2em 0
  p, .bootstrap_select
    margin-left: 0.2em
    margin-right: 0.2em
  .video
    background-color: #000
    object
      display: block
      margin: 0 auto

.bootstrap_select
  float: left
  label
    padding-right: 1em
    font-weight: bold

.bootstrap_option
  padding: 0.4em 0.4em
  overflow: hidden
  line-height: 1.2
  background-color: #000
  input
    line-height: 1.2
    background-color: #000
    float: left
    font-size: 2em
    color: #0ad
    border: none
    display: block
  &.curl input
    width: 20em
  &.wget input
    width: 21.2em

.hello
  font-size: 1.4em
